In [12]:
import pandas as pd

data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'Emily', 'Michael', 'David' ],
    'Age': [29, 35, 30, 25, 40, 32, 38],
    'City': ['New York', 'Los Angeles', 'Paris', 'Tokyo', 'Berlin', 'London', 'Madrid' ]
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0     John   29     New York
1     Anna   35  Los Angeles
2    Peter   30        Paris
3    Linda   25        Tokyo
4    Emily   40       Berlin
5  Michael   32       London
6    David   38       Madrid