In [3]:
import pandas as pd

# Read data from Excel file
data = pd.read_excel("C:/Users/lenovo/Desktop/AccioJob/Assesment/Python/Pandas/ESD.xlsx")

# Read data from Csv file
# data = pd.read_csv("C:/Users/lenovo/Desktop/AccioJob/Assesment/Python/Pandas/user_behavior_dataset.csv")

print(data)

   Emp Id First Name  Last Name   Age   Salary   Location Employee Type  \
0    1011        Ram      Kumar  15.0  10000.0      Delhi       Private
1    1012      Shyam        Das  20.0  15000.0    Gurgaon    Government
2    1013      Mohan      Verma   NaN  25000.0        NaN       Private
3    1014      Kajal      Yadav   NaN   8000.0     Mumbai       Private
4    1015      Geeta     Bashra  23.0  10000.0  New Delhi           NaN
5    1016      Megha     Mishra   NaN      NaN  Haidrabad           NaN
6    1017       Golu    Chandra  18.0  20000.0        NaN    Government
7    1018     Aastha     Shukla  17.0  30000.0       Agra           NaN
8    1019      Kallu  Choudhary   NaN    500.0      Surat       Private
9    1010      Rahul     Panday  28.0  23000.0  Ahmadabad           NaN

  Is Working  Bonus %
0        Yes       20
1         No       10
2        NaN       15
3        Yes        2
4         No        4
5        NaN        0
6        Yes        9
7         No        0
8        NaN       25
9        Yes        0

In [210]:
# Print the gender column
print(data["Salary"])

In [2]:
# Exploring data in pandas

# Describe the data set
print(data.describe())

In [4]:
# Give the information about the data set
print(data.info())

In [211]:
# If any value of dataset is null then its print the True otherwise its print False
print(data.isnull())

In [212]:
# Handling duplicates values in pandas

# If any value of dataset is duplicated then its print the True otherwise its print False and we check the duplicates values on primary key's
print(data["User ID"].duplicated())

In [213]:
# Drop the rows according to given key. if any cell operating system record is duplicate or NaN then drop that rows
print(data.drop_duplicates("Operating System"))

In [214]:
#  Working with missing data in Pandas

# Drop all the rows whose any cell value is Nan or null
print(data.dropna())

In [215]:
import numpy as np

# Raplace the missing value or NaN value

age_mean_value = np.mean(data["Age"])
salary_mean_value = np.mean(data["Salary"])

# For replacing numeric value, we fill the mean value of that column
data["Age"] = data["Age"].replace(np.nan, age_mean_value)
data["Salary"] = data["Salary"].replace(np.nan, salary_mean_value)

# For replacing string value, we fill the bfill/ffill (backwardfill/forwardfill) value of that column
data["Location"] = data["Location"].ffill()
data["Employee Type"] = data["Employee Type"].bfill()
data["Is Working"] = data["Is Working"].ffill()

# Save the modified DataFrame back to an Excel file
# data.to_excel('your_modified_excel_file.xlsx', index=False)

print(data)

In [224]:
# Column transformation in file using pandas

# Create the column from existing column
data.loc[data["Bonus %"] == 0, "Get Bonus"] = "No Bonus"
data.loc[data["Bonus %"] > 0, "Get Bonus"] = (data["Salary"]/100)*20

data["Full Name"] = data["First Name"] + " " + data["Last Name"]

# print(data)

In [38]:
# Group by in Pandas

data = {
    'Team': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Player': ['John', 'Mahak', 'Reeta', 'Roshni', 'Geeta', 'Henry'],
    'Gender' : ["Male", "Female", "Female", "Female", "Female", "Male"],
    'Points': [10, 15, 8, 12, 9, 14],
    'Rebounds': [5, 7, 6, 5, 8, 7]
}

df = pd.DataFrame(data)

# Group by 'Team' and calculate the sum of 'Points'
# grouped = df.groupby(['Team'])['Points'].count()

# Group by with multiple column
# grouped = df.groupby(['Team', 'Gender'])['Points'].sum()

# Applying multiple aggregate functions: sum, mean ana count
grouped = df.groupby('Team').agg({
    'Points': ['sum', 'mean', 'count'],
    'Rebounds': ['min', 'max']
})

print(grouped)

     Points             Rebounds
        sum  mean count      min max
Team
A        25  12.5     2        5   7
B        20  10.0     2        5   6
C        23  11.5     2        7   8

In [64]:
# Merge, join and concatinate in pandas

import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

df2 = pd.DataFrame({
    'ID': [1, 2, 3, 5],
    'Score': [85, 90, 95, 100]
})

# -----------------------------------1. Merge Data Frame----------------------------------------
                #Types of Joins in merge():
'''  
   1. how='inner': Default; only includes rows with matching keys.
   2. how='left': Includes all rows from the left DataFrame and matching rows from the right.
   3. how='right': Includes all rows from the right DataFrame and matching rows from the left.
   4. how='outer': Includes all rows from both DataFrames, filling NaN where necessary.
'''

# Merge based on the 'ID' column here default join is inner join
merged_df = pd.merge(left = df1, right = df2, on='ID') 

# Left join
left_merge = pd.merge(left = df1, right = df2, on='ID', how='left')

# Right join
right_merge = pd.merge(left = df1, right = df2, on='ID', how='right')

# Left join
outer_merge = pd.merge(left = df1, right = df2, on='ID', how='outer')


# Sample DataFrames with 'ID' as the index
df1.set_index('ID', inplace=True)
df2.set_index('ID', inplace=True)


# -----------------------------------2. Join Data Frame----------------------------------------
# Join DataFrames using the index
joined_df = df1.join(df2, how='left')

# -----------------------------------3. Concatenate Data Frame----------------------------------------

# Concatenate along rows (vertical concatenation)
'''
    1. axis=0: Concatenate along rows (default).
    2. axis=1: Concatenate along columns.
'''
concat_df = pd.concat([df1, df2],axis=1)

print(concat_df)

       Name  Score
ID
1     Alice   85.0
2       Bob   90.0
3   Charlie   95.0
4     David    NaN
5       NaN  100.0

In [103]:
# Pivoting and Melting data frame in pandas

import pandas as pd

data = {
    "Key" : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
    "Name" : ["Ram", "John",  "Mohan", 'Geeta',  "Golu", "Alice", "Bob", "Charli", "Devid", "Warner", "John"],
    'Sales': [250, 200, 300, 220, 100, 500, 1000, 900, 1900, 4500, 210],
    "House Color" : ["Red", "Black", "Blue", "Green", "Orange", "Khaki", "Grey", "White", "Blue", "Yellow", "Red"]
}

df = pd.DataFrame(data)

# -----------------------------------1. Pivoting Data Frame----------------------------------------

# You can pivot the data so that the Key become index, Name become columns, and the sales and house color become values.
pivot_df = df.pivot(index='Key', columns='Name', values= ['Sales', 'House Color'])

# -----------------------------------2. Melting Data Frame------------------------------------------

melted_df = pd.melt(df, id_vars=['Name'], value_vars=["House Color", "Sales"],
                    var_name='House', value_name='Color')
print(melted_df)

      Name        House   Color
0      Ram  House Color     Red
1     John  House Color   Black
2    Mohan  House Color    Blue
3    Geeta  House Color   Green
4     Golu  House Color  Orange
5    Alice  House Color   Khaki
6      Bob  House Color    Grey
7   Charli  House Color   White
8    Devid  House Color    Blue
9   Warner  House Color  Yellow
10    John  House Color     Red
11     Ram        Sales     250
12    John        Sales     200
13   Mohan        Sales     300
14   Geeta        Sales     220
15    Golu        Sales     100
16   Alice        Sales     500
17     Bob        Sales    1000
18  Charli        Sales     900
19   Devid        Sales    1900
20  Warner        Sales    4500
21    John        Sales     210

In [101]:
print(df)

    Key    Name  Sales House Color
0     1     Ram    250         Red
1     2    John    200       Black
2     3   Mohan    300        Blue
3     4   Geeta    220       Green
4     5    Golu    100      Orange
5     6   Alice    500       Khaki
6     7     Bob   1000        Grey
7     8  Charli    900       White
8     9   Devid   1900        Blue
9    10  Warner   4500      Yellow
10   11    John    210         Red

In [141]:
# Compare data frame in pandas

import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3, 10], 'B': [4, 5, 6, 7]})
df2 = pd.DataFrame({'A': [1, 2, 4, 20], 'B': [4, 5, 6, 9]})

# Create the copy data frame
df3 = df1.copy()

# Element-wise comparison
comparison = df1 == df2

# Comparing two DataFrames

''' self: Refers to the values in df1.
    other: Refers to the values in df2.
'''
result = df1.compare(df2, align_axis=0) # By default align_axis = 1

'''
    With keep_shape=True and keep_equal=True:
    keep_shape=True: Keeps the original shape of the DataFrame and marks the equal values with NaN.
    keep_equal=True: Shows the equal values as well as the differences.
'''

keep_shape_result = df1.compare(df2, keep_shape=True)
keep_equal_result = df1.compare(df2, keep_equal=True)
result = df1.compare(df2, keep_shape=True, keep_equal=True)
print(result)
print(keep_shape_result)
print(keep_equal_result)

     A          B
  self other self other
0    1     1    4     4
1    2     2    5     5
2    3     4    6     6
3   10    20    7     9
      A          B
   self other self other
0   NaN   NaN  NaN   NaN
1   NaN   NaN  NaN   NaN
2   3.0   4.0  NaN   NaN
3  10.0  20.0  7.0   9.0
     A          B
  self other self other
2    3     4    6     6
3   10    20    7     9